{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/transform-react-jsx",
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "src": "./src"
        }
      }
    ]
  ]
}
